<% include ./head %>

<section class="section-gap">
	<div class="container">
		<div class="pb-4">
			<h2>About</h2>
			<p>This site is non-commercial and maintained by soylab.</p>
		</div>
		<div class="pb-4">
			<h2>Contact</h2>
			<p>lbf.master {at} gmail.com</p>
		</div>
		<div>
			<h2>License</h2>
			Template made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a><br>
			Country Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">flaticon.</a>
		</div>
	</div>
</section>

<% include ./foot %>

</body>
</html>
