<% include ./head %>

		<section class="register section-gap-sm">
			<div class="container">
				<div class="row d-flex justify-content-center session-title">
					<div class="col-md-8 header-text">
						<div class="lnr-hover"><span class="lnr lnr-pencil"></span></div>
						<h2>Sign Up</h2>
						<p>
							Thank you for signing up.<br>
							Please let me know more information.
						</p>
					</div>
				</div>
				<form id="form" name="register-form">
				<div class="row justify-content-center">
					<div class="input col-md-8">
						<h4>Search your country</h4>
						<input id="countries" name="country" class="single-in form-control" placeholder="Search countries" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search countries'" required="true" value="<%= country %>"/>
						<div class="feedback feedback-country"></div>
					</div>
					<!--<div class="input col-md-8">-->
						<!--<h4>Upload screenshot showing your trainer code</h4>-->
						<!--<input type="file" name="image" class="single-in form-control" required="true">-->
					<!--</div>-->
					<div class="input col-md-8">
						<h4>Your nick name</h4>
						<input type="text" name="name" class="single-in form-control" placeholder="Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'" required="true" value="<%= user_name %>" maxlength="20">
						<div class="feedback feedback-name"></div>
					</div>
					<div class="col-lg-12 d-flex justify-content-center">
						<button class="primary-btn mt-50 text-uppercase">OKAY<span class="lnr lnr-arrow-right"></span></button>
					</div>
				</div>
				</form>
			</div>
		</section>

		<% include ./foot %>

		<script>
			var options = {
				url: "/resources/countries.json",
				getValue: "name",
				minCharNumber: 0,
				adjustWidth: false,
				list: {
					match: {
						enabled: true
					},
					maxNumberOfElements: 10,
					hideOnEmptyPhrase: true
				},
				template: {
					type: "custom",
					method: function(value, item) {
						return "<span class='flag flag-" + (item.code).toLowerCase() + "' ></span>" + value;
					}
				}
			};

			var $form = $( "#form" ),
				feedbackEls = {};
				feedbackEls.country = $form.find('.feedback-country');
				feedbackEls.name = $form.find('.feedback-name');

			var countryEl = $("#countries");
			countryEl.easyAutocomplete(options);

			$('#eac-container-countries').find('ul').click(function(e) {
				feedbackEls.country.hide();
			});

			var nameEl = $form.find("input[name='name']");
			nameEl.on("keyup", function(event) {
				formatizeName(nameEl);
			});

			function formatizeName(el) {
				var name = el.val().replace(/[^a-zA-Z0-9.\-_$@*! ]/g, '');
				el.val(name);
			}

			function validateName() {
				feedbackEls.name.hide();
				if (!nameEl.val() || nameEl.val().length == 0 || nameEl.val().length > 20) {
					feedbackEls.name.html("Nick name is invalid.");
					feedbackEls.name.show();
					return false;
				}
				return true;
			};

			function validateForm() {
				var validateCountryResult = true;

				feedbackEls.country.hide();
				if (!countryEl.val()) {
					feedbackEls.country.html("Input the country name and select into the list");
					feedbackEls.country.show();

					validateCountryResult = false;
				}

				var validateNameResult = validateName();
				return (validateCountryResult && validateNameResult);
			};

			$(".primary-btn").click(function(e) {
				e.preventDefault();

				var isValid = validateForm();
				if (!isValid) {
					return;
				}

				$.ajax({
					type: "POST",
					url: "/account/save",
					data: {
						country: countryEl.val(),
						name: nameEl.val(),
						path: "/account/config"
					},
					success: function(result) {
						if (result.errorType == "login") {
							alert(result.errorMessage);
							return window.location.href = result.siteConfig.loginUrl;
						} else if (result.errorType == "input" && result.errorElement) {
							feedbackEls[result.errorElement].html(result.errorMessage);
							feedbackEls[result.errorElement].show();
							return;
						} else if (result.errorType) {
							return alert('[ERROR] ' + result.errorMessage);
						}

						if (!result.redirectUrl) {
							result.redirectUrl = "/";
						}

						alert('Success!');
						return window.location.href = result.redirectUrl;
					},
					error: function(req, status, e) {
						alert('[ERROR] ' + e);
					}
				});
			});
		</script>
	</body>
</html>
