<% include ./head %>

<section class="section-gap-sm">
	<div class="container">
		<div class="row d-flex justify-content-center session-title">
			<div class="col-md-8 header-text">
				<div class="lnr-hover"><span class="lnr lnr-bullhorn"></span></div>
				<h2>Notice</h2>
			</div>
		</div>
		<div class="notice-content pt-2">
			<div class="date">2018.08.30</div>
			<div class="subject">Search by trainer name</div>

			<p>I would like to inform you that I have added the feature that you can search other trainer's information by trainer name.</p>
			<p>In order to use this feature, <b>you have to login</b> at first. If you logged, you can see the search button like this <span class="lnr lnr-magnifier"></span></p>

			<p><img src="/img/notice/search.png" width="300"></p>

			<p>Input the <b>trainer name</b> that you want to search and then just <b>press enter key</b>. Try it!</p>

			<p><br>* If you have any inconveniences or ideas, please feel free to email me. (lbf.master {at} gmail.com)</p>
		</div>
	</div>
</section>

<% include ./foot %>

</body>
</html>
