<% include ./head %>

		<section class="register section-gap-sm">
			<div class="container">
				<div class="row d-flex justify-content-center session-title">
					<div class="col-md-8 header-text">
						<div class="lnr-hover"><span class="lnr lnr-pencil"></span></div>
						<h2>Share Your Code</h2>
						<p>
							Register your trainer code<br>
							so other trainers can register you as a friend.
						</p>
					</div>
				</div>
				<form id="form" name="register-form">
				<div class="row justify-content-center">
					<div class="input col-md-8">
						<h4>Search your country</h4>
						<input id="countries" name="country" class="single-in form-control" placeholder="Search countries" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search countries'" required="true" value="<%= country %>%>"/>
						<div class="feedback feedback-country"></div>
					</div>
					<!--<div class="input col-md-8">-->
						<!--<h4>Upload screenshot showing your trainer code</h4>-->
						<!--<input type="file" name="image" class="single-in form-control" required="true">-->
					<!--</div>-->
					<div class="input col-md-8">
						<h4>Your trainer name</h4>
						<input type="text" name="trainer_name" class="single-in form-control" placeholder="Trainer Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Trainer Name'" required="true">
						<div class="feedback feedback-trainer_name"></div>
					</div>
					<div class="input col-md-8">
						<h4>Your trainer code</h4>
						<input type="text" name="trainer_code" class="single-in form-control" placeholder="0000 0000 0000" maxlength=14 onfocus="this.placeholder = ''" onblur="this.placeholder = '0000 0000 0000'" required="true">
						<div class="feedback feedback-trainer_code"></div>
					</div>
					<div class="input col-md-8">
						<h4>Comment</h4>
						<textarea class="single-in form-control" name="comment" placeholder="Comment (optional)" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Comment (optional)'" required="" maxlength="1000"></textarea>
					</div>
					<div class="col-lg-12 d-flex justify-content-center">
						<button class="primary-btn mt-30 text-uppercase">OKAY<span class="lnr lnr-arrow-right"></span></button>
					</div>
				</div>
				</form>
			</div>
		</section>

		<% include ./foot %>

		<script>
			var options = {
				url: "./../resources/countries.json",
				getValue: "name",
				minCharNumber: 0,
				adjustWidth: false,
				list: {
					match: {
						enabled: true
					},
					maxNumberOfElements: 10,
					hideOnEmptyPhrase: true
				},
				template: {
					type: "custom",
					method: function(value, item) {
						return "<span class='flag flag-" + (item.code).toLowerCase() + "' ></span>" + value;
					}
				}
			};

			var countryEl = $("#countries");
			countryEl.easyAutocomplete(options);

			$('#eac-container-countries').find('ul').click(function(e) {
				feedbackEls.country.hide();
			});

			var $form = $( "#form" );
			var trainerCodeEl = $form.find("input[name='trainer_code']");
			trainerCodeEl.on("keyup", function(event) {
				return formatizeCode(trainerCodeEl);
			});

			function formatizeCode(el) {
				var code = el.val().replace(/[^\d]/g, '').substr(0, 12);
				var split = 4;
				var chunk = [];

				for (var i = 0, len = code.length; i < len; i += split) {
					split = 4;
					chunk.push(code.substr( i, split ) );

					if (i >= 12) {
						break;
					}
				}

				el.val(chunk.join(" "));
			};

			trainerCodeEl.on("focusout", function(event){
				validateTrainerCode();
			});

			var trainerNameEl = $form.find("input[name='trainer_name']");
			trainerNameEl.on("keyup", function(event) {
				formatizeTrainerName(trainerNameEl);
			});

			function formatizeTrainerName(el) {
				var trainerName = el.val().replace(/[^a-zA-Z0-9]/g, '');
				el.val(trainerName);
			}

			trainerNameEl.on("focusout", function(event){
				validateTrainerName();
			});

			var feedbackEls = {};
			feedbackEls.trainer_name = $form.find('.feedback-trainer_name');
			feedbackEls.trainer_code = $form.find('.feedback-trainer_code');
			feedbackEls.country = $form.find('.feedback-country');

			function validateTrainerCode() {
				feedbackEls.trainer_code.hide();
				if (!trainerCodeEl.val() || trainerCodeEl.val().length != 14) {
					feedbackEls.trainer_code.html("Trainer code is invalid.");
					feedbackEls.trainer_code.show();
					return false;
				}
				return true;
			};

			function validateTrainerName() {
				feedbackEls.trainer_name.hide();
				if (!trainerNameEl.val() || trainerNameEl.val().length < 3 || trainerNameEl.val().length > 20) {
					feedbackEls.trainer_name.html("Trainer name is invalid.");
					feedbackEls.trainer_name.show();
					return false;
				}
				return true;
			};

			function validateCountry() {
				feedbackEls.country.hide();
				if (!countryEl.val()) {
					feedbackEls.country.html("Input the country name and select into the list");
					feedbackEls.country.show();
					return false;
				}
				return true;
			};

			function validateForm() {
				var validateCountryResult = validateCountry(),
					validateTrainerCodeResult = validateTrainerCode(),
					validateTrainerNameResult = validateTrainerName();

				return (validateCountryResult && validateTrainerCodeResult && validateTrainerNameResult);
			};

			$(".primary-btn").click(function(e) {
				e.preventDefault();

				var isValid = validateForm();
				if (!isValid) {
					return;
				}

				var comment = $form.find("textarea[name='comment']").val();
				$.ajax({
					type: "POST",
					url: "/code/register",
					data: {
						country: countryEl.val(),
						trainer_name: trainerNameEl.val(),
						trainer_code: trainerCodeEl.val(),
						comment: comment
					},
					success: function(result) {
						if (result.errorType == "login") {
							alert(result.errorMessage);
							return window.location.href = result.siteConfig.loginUrl;
						} else if (result.errorType == "input" && result.errorElement) {
							feedbackEls[result.errorElement].html(result.errorMessage);
							feedbackEls[result.errorElement].show();
							return;
						} else if (result.errorType) {
							return alert('[ERROR] ' + result.errorMessage);
						}

						if (result.codeId) {
							alert('Success!');
//							return window.location.href = '/code/view/' + result.codeId;
							return window.location.href = '/code/my';
						}

						alert('[ERROR] ' + "Uknown error occured.");
					},
					error: function(req, status, e) {
						alert('[ERROR] ' + e);
					}
				});
			});
		</script>
	</body>
</html>
